.abc
.idea
.project
build.privates
build_number_*.build
PHP_Depend-*.tgz
.build
.pear
vendor
src/test/vendor
composer.phar
composer.lock
dist
/clover.xml
.phpunit.cache
coverage.xml
coverage
.php-cs-fixer.cache
