includes:
	- phpstan-baseline.neon.php
	- vendor/shipmonk/dead-code-detector/rules.neon
parameters:
    paths:
        - bin
        - resources
        - scripts
        - site
        - src
        - tests/php
    rememberPossiblyImpureFunctionValues: false
    excludePaths:
        - src/DbusUI/ResultPrinter.php
    universalObjectCratesClasses:
        - PDepend\Util\Configuration
    level: max
    shipmonkDeadCode:
        usageExcluders:
            usageOverMixed:
                enabled: true
    exceptions:
        reportUncheckedExceptionDeadCatch: true
        implicitThrows: false
        check:
            tooWideThrowType: true
