includes:
	- phpstan-baseline.neon.php
parameters:
    paths:
        - scripts
        - bin
        - src
        - site
        - tests/php
    rememberPossiblyImpureFunctionValues: false
    excludePaths:
        - src/DbusUI/ResultPrinter.php
    universalObjectCratesClasses:
        - PDepend\Util\Configuration
    level: max
    exceptions:
        reportUncheckedExceptionDeadCatch: true
        implicitThrows: false
        check:
            tooWideThrowType: true
