parameters:
    paths:
        - src/main
    rememberPossiblyImpureFunctionValues: false
    excludePaths:
        - src/main/php/PDepend/DbusUI/ResultPrinter.php
    universalObjectCratesClasses:
        - PDepend\Util\Configuration
    level: 7
    exceptions:
        reportUncheckedExceptionDeadCatch: true
        implicitThrows: false
        check:
            tooWideThrowType: true
