<?xml version="1.0"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  bootstrap="tests/php/PDepend/bootstrap.php"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
  cacheDirectory=".phpunit.cache"
>
  <coverage includeUncoveredFiles="true">
    <report>
      <clover outputFile="clover.xml"/>
    </report>
  </coverage>
  <php>
    <ini name="date.timezone" value="UTC"/>
  </php>
  <testsuites>
    <testsuite name="PHP Depends Test Suite">
      <directory suffix="Test.php">tests/php</directory>
      <directory suffix=".phpt">tests/php</directory>
    </testsuite>
  </testsuites>
  <logging/>
  <source>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
    <exclude>
      <directory suffix=".php">vendor/</directory>
      <directory suffix=".php">tests</directory>
      <file>src/DbusUI/ResultPrinter.php</file>
    </exclude>
  </source>
</phpunit>
