<?xml version="1.0"?>
<phpunit>
    <testsuites>
        <testsuite name="PHP Depends Test Suite">
            <directory suffix="Test.php">src/test/php</directory>
            <directory suffix=".phpt">src/test/php</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/main/php/PHP</directory>
            <!--
                Exclude some interfaces that are marked as uncovered.
            -->
            <exclude>
                <file>src/main/php/PHP/Depend/BuilderI.php</file>
                <file>src/main/php/PHP/Depend/ProcessListenerI.php</file>
                <file>src/main/php/PHP/Depend/TokenizerI.php</file>
                <file>src/main/php/PHP/Depend/VisitorI.php</file>

                <file>src/main/php/PHP/Depend/Metrics/AggregateAnalyzerI.php</file>
                <file>src/main/php/PHP/Depend/Metrics/ListenerI.php</file>

                <file>src/main/php/PHP/Depend/Parser/TokenException.php</file>

                <!-- Exclude this exotic result printer -->
                <file>src/main/php/PHP/Depend/DbusUI/ResultPrinter.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
