name: PHPStan

on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ '**' ]

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php: [ '7.4' ]
        setup: [ 'stable' ]
        phpstan: [ '1.10.35' ]

    name: PHP ${{ matrix.php }} - ${{ matrix.setup }} - ${{ matrix.phpstan }}

    steps:
      - uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: json, imagick
          tools: composer:v2
          coverage: none

      - name: Imagick SVG support
        run: sudo apt-get install libmagickcore-6.q16-3-extra

      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v3
        with:
          path: vendor
          key: ${{ runner.os }}-phpstan${{ matrix.phpstan }}-${{ matrix.php }}-${{ matrix.setup }}-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-phpstan${{ matrix.phpstan }}-${{ matrix.php }}-${{ matrix.setup }}-

      - name: Install dependencies
        if: steps.composer-cache.outputs.cache-hit != 'true'
        run: |
          composer remove phpunit/phpunit easy-doc/easy-doc squizlabs/php_codesniffer gregwar/rst --no-interaction --dev --no-update;
          composer require phpstan/phpstan:${{ matrix.phpstan }} --no-interaction --dev --no-update;
          composer update --prefer-dist --no-progress --prefer-${{ matrix.setup }};

      - name: Run PHPStan
        run: vendor/bin/phpstan analyze
